.grid-cards__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 550px) {
  .grid-cards__container {
    grid-template-columns: 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 920px) {
  .grid-cards__container {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
   .grid-cards__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
