.header__logo {
  width: 104px;
  height: 25px;
  padding: 28px 0 26px 27px;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    width: 142px;
    height: 33px;
    padding: 45px 0 41px 0;
  }
}
