.profile__edit-button {
  grid-area: profile__edit-button;
  align-self: center;
  padding: 0;
  margin-left: 10px;
  border: 1px solid #FFFFFF;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background-image: url(../../../images/profile-edit-button.svg);
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-color: transparent;
  background-position: center;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s ease-out;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
  }
}
