.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 41px;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 880px;
    margin: auto;
    margin-bottom: 36px;
  }
}
